.hola{
  width: 100%;
}

h1{
  margin-left: 35%
}

@media (max-width: 600px) {
  body {
    margin: 0 0 0 0;
  }
}

input[type="text"] {
  box-sizing: border-box;
  text-transform: uppercase;
  width: 100%;
  height: calc(2.8em + 3px);
  margin: 0 0 1em;
  padding: 1em;
  /*border: 1px solid rgb(173, 169, 169);*/
  border-radius: 1.5em;
  background: #fff;
  resize: none;
  outline: none;
}

input[type="text"][required]:focus {
  border-color: #00bafa;
}
input[type="text"][required]:focus + label[placeholder]:before {
  color: #00bafa;
}
input[type="text"][required]:focus + label[placeholder]:before,
input[type="text"][required]:valid + label[placeholder]:before {
  transition-duration: 0.2s;
  -webkit-transform: translate(0, -1.5em) scale(0.9, 0.9);
          transform: translate(0, -1.5em) scale(0.9, 0.9);
}
input[type="text"][required]:invalid + label[placeholder][alt]:before {
  content: attr(alt);
}
input[type="text"][required] + label[placeholder] {
  display: block;
  pointer-events: none;
  line-height: 1.25em;
  margin-top: calc(-3em - 2px);
  margin-bottom: calc((3em - 1em) + 2px);
}
input[type="text"][required] + label[placeholder]:before {
  content: attr(placeholder);
  display: inline-block;
  margin: 0 calc(1em + 2px);
  padding: 0 2px;
  color: #898989;
  white-space: nowrap;
  transition: 0.3s ease-in-out;
  background-image: linear-gradient(to bottom, #fff, #fff);
  background-size: 100% 5px;
  background-repeat: no-repeat;
  background-position: center;
}

input[type="date"] {
  box-sizing: border-box;
  width: 100%;
  height: calc(2.8em + 3px);
  margin: 0 0 1em;
  padding: 1em;
  /*border: 1px solid rgb(173, 169, 169);*/
  border-radius: 1.5em;
  background: #fff;
  resize: none;
  outline: none;
}
input[type="date"][required]:focus {
  border-color: #00bafa;
}
input[type="date"][required]:focus + label[placeholder]:before {
  color: #00bafa;
}
input[type="date"][required]:focus + label[placeholder]:before,
input[type="date"][required]:valid + label[placeholder]:before {
  transition-duration: 0.2s;
  -webkit-transform: translate(0, -1.5em) scale(0.9, 0.9);
          transform: translate(0, -1.5em) scale(0.9, 0.9);
}
input[type="date"][required]:invalid + label[placeholder][alt]:before {
  content: attr(alt);
}
input[type="date"][required] + label[placeholder] {
  display: block;
  pointer-events: none;
  line-height: 1.25em;
  margin-top: calc(-3em - 2px);
  margin-bottom: calc((3em - 1em) + 2px);
}
input[type="date"][required] + label[placeholder]:before {
  content: attr(placeholder);
  display: inline-block;
  margin: 0 calc(1em + 2px);
  padding: 0 2px;
  color: #898989;
  white-space: nowrap;
  transition: 0.3s ease-in-out;
  background-image: linear-gradient(to bottom, #fff, #fff);
  background-size: 100% 20px;
  background-repeat: no-repeat;
  background-position: center;
}

select {
  box-sizing: border-box;
  width: 100%;
  height: calc(2.8em + 3px);
  margin: 0 0 1em;
  /*border: 1px solid rgb(173, 169, 169);*/
  border-radius: 1.5em;
  background: #fff;
  resize: none;
  outline: none;
}
select[required]:focus {
  border-color: #00bafa;
}
select[required]:focus + label[placeholder]:before {
  color: #00bafa;
}
select[required]:focus + label[placeholder]:before,
select[required]:valid + label[placeholder]:before {
  transition-duration: 0.2s;
  -webkit-transform: translate(0, -1.5em) scale(0.9, 0.9);
          transform: translate(0, -1.5em) scale(0.9, 0.9);
}
select[required]:invalid + label[placeholder][alt]:before {
  content: attr(alt);
}
select[required] + label[placeholder] {
  display: block;
  pointer-events: none;
  line-height: 1.25em;
  margin-top: calc(-3em - 2px);
  margin-bottom: calc((3em - 1em) + 2px);
}
select[required] + label[placeholder]:before {
  content: attr(placeholder);
  display: inline-block;
  margin: 0 calc(1em + 2px);
  padding: 0 2px;
  color: #898989;
  white-space: nowrap;
  transition: 0.3s ease-in-out;
  background-image: linear-gradient(to bottom, #fff, #fff);
  background-size: 100% 20px;
  background-repeat: no-repeat;
  background-position: center;
}
