<br>
<h1 class="display-4">Ingrese su familia</h1>
<div style="width:80%; margin-left:10%">
   <!-- <div style="width:40%; margin-left:27%">-->
<hr class="hola">
</div>
<div class="shadow p-3 mb-5 bg-white rounded" style="width:1390px; margin-left: 6%">

<div class="conteiner">
    <div class="row">
        <div class="col md-4">
            <h5><span class="badge badge-primary">Agregar hijo(s)</span></h5>
            <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                </div>
        </div>
        <div class="col md-4">
            <h5 style="color:white">hola</h5>
            <button type="button"  class="btn btn-outline-info">+</button>   
        </div>
    </div>
</div>
<hr>

<div class="conteiner" style="width: 49%">
    <div class="row">
        <div class="col md-4">
            <h5><span class="badge badge-primary">Agregar padre</span></h5>
            <div class="input-group mb-3">
                    <div class="input-group-prepend" >
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control" style="width:50%">
                </div>
        </div>
    </div>
</div>
<hr>

<div class="conteiner" style="width: 49%">
    <div class="row">
        <div class="col md-4">
            <h5><span class="badge badge-primary">Agregar madre</span></h5>
            <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                </div>
        </div>
    </div>
</div>
<hr>

<div class="conteiner">
    <div class="row">
        <div class="col md-4">
            <h5><span class="badge badge-primary">Agregar encargado(s)</span></h5>
            <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                </div>
        </div>
        <div class="col md-4">
            <h5 style="color:white">hola</h5>
            <button type="button"  class="btn btn-outline-info">+</button>   
        </div>
    </div>
</div>
<br>



<br>
<button type="button" class="btn btn-outline-primary">Enviar formulario</button>

</div>